[Unit]
Description=Tezlify Health Monitor Timer (Every 3 minutes)
Requires=tezlify-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
